<h1><%= pagename %> <span class="options">(<a accesskey="e" id="edit-link" href="/edit/<%= pagename %>">edit</a>)</span></h1>
<div id="rendered-text"></div>
<form id="edit-form" style="display: none" action="/save/<%= pagename %>" method="post">
  <div class="edit-helpers">
    <a href="http://daringfireball.net/projects/markdown/syntax" target="markdown">Syntax help</a>
  </div>
  <textarea id="raw-text" name="rawText" cols="80" rows="30"><%= rawText %></textarea>
  <div class="button-bar">
    <input accesskey="s" type="submit" value="Save" />
    <input accesskey="c" id="cancel-button" type="button" value="Cancel" />
  </div>
</form>
<script>
  $(document).ready(function() {
    var wikiSyntaxOptions = {wikiPageList: <%- wikiPageListJSON %>};
    $("#rendered-text").html(wikisyntax($("#raw-text").val(),
                             wikiSyntaxOptions));

    $("#edit-link").click(function() {
      $("#rendered-text").animate({ width: "50%" }, 400);
      $("#rendered-text").css("float", "right");
      $("#edit-form").css("display", "block");
      $("#raw-text").animate({ width: "45%" }, 400);
      return false;
    });

    $("#cancel-button").click(function() {
      $("#raw-text").animate({ width: "0" }, 400);
      $("#edit-form").css("display", "none");
      $("#edit-form")[0].reset();
      $("#rendered-text").html(wikisyntax($("#raw-text").val(),
                                          wikiSyntaxOptions));
      $("#rendered-text").css("float", "none");
      $("#rendered-text").animate({ width: "60%" }, 400);
      return false;
    });

    $("#raw-text").bind('input', function() {
      var target = $("#rendered-text");
      if (target.data('event-state') !== 'buffered') {
        target.data('event-state', 'buffered');
        setTimeout(function() {
          target.data('event-state', '');
          target.html(wikisyntax($("#raw-text").val(),
                                 wikiSyntaxOptions));
        }, 1000);
      }
    });
  });
</script>
