<div class="page-name-container"><span class="page-name"><%= pageName %></span> <div class="options edit-ui"><a accesskey="e" class="menu-option" id="edit-link" href="/edit/<%= pageName %>">Edit</a><% if (pageName !== "WikiIndex") { %><div class="dropdown-toggle-button"><span class="dropdown-arrow"></span></div><ul class="dropdown-menu" role="menu"><li><a class="menu-option" id="rename-link" href="/share/<%= pageName %>"><% if (isShared) { %>Shared<% } else { %>Share<% } %></a></li><li><a class="menu-option" id="rename-link" href="/rename/<%= pageName %>">Rename</a></li><li><a class="menu-option" id="attach-link" href="#attachment-list">Attach</a></li></ul><% } %></div></div>
<div id="rendered-text" class="rendered-text-disabled"></div>
<form id="edit-form" class="edit-form-disabled" action="/save/<%= pageName %>" method="post">
  <textarea id="raw-text" class="raw-text-disabled" name="rawText" cols="80" rows="30"><%= rawText %></textarea>
  <div class="button-bar">
    <input accesskey="s" id="save-button" class="default-button" type="submit" value="Save" />
    <input accesskey="c" id="cancel-button" class="button" type="button" value="Cancel" />
  </div>
  <div class="edit-helpers">
    <a href="http://daringfireball.net/projects/markdown/syntax" target="markdown">Syntax help</a>
  </div>
</form>

<div id="attachment-list" class="attachment-list edit-ui" <% if (attachments.length === 0) { %>style="display: none;"<% } %>>
  <div class="section-title">Attachments</div>

  <ul>
    <% attachments.forEach(function(attachment) { %>
    <li class="attachment">
      <span class="attachment-info"><a href="/attachments/<%= pageName %>/<%= attachment.filename %>"><%= attachment.filename %></a> <span class="uploaded">(Uploaded <%= formatDate(attachment.mtime) %>)</span></span>
      <form method="post" action="/attachments/<%= pageName %>/<%= attachment.filename %>">
        <input type="hidden" name="action" value="delete" />
        <button type="submit" onclick="return confirm('Are you sure you want to delete &quot;<%= attachment.filename %>&quot;?')">
          <img class="attachment-options" title="Delete <%= attachment.filename %>%>" src="/images/trash.png" />
        </button>
      </form>
    </li>
    <% }); %>
  </ul>

  <form action="/attachments/<%= pageName %>" method="post" enctype="multipart/form-data">
    <input id="attachment-file" type="file" name="attachment" />
    <input type="submit" value="Upload" />
  </form>
</div>

<script src="/javascripts/md-liveupdater.js"></script>
<script>
  $(document).ready(function() {
    var wikiSyntaxOptions = {wikiPageList: <%- wikiPageListJSON %>};

    markdownLiveUpdater($("#raw-text"),
                        $("#rendered-text"),
                        wikiSyntaxOptions);

    $("#edit-link").click(function() {
      $(".edit-ui").hide();
      $("#rendered-text").animate({ width: "50%" }, 300);
      $("#rendered-text").addClass("rendered-text-enabled");
      $("#rendered-text").removeClass("rendered-text-disabled");
      $("#edit-form").addClass("edit-form-enabled");
      $("#edit-form").removeClass("edit-form-disabled");
      $("#edit-form").animate({ width: "45%" }, 300);
      $("#raw-text").addClass("raw-text-enabled");
      $("#raw-text").removeClass("raw-text-disabled");
      $("#raw-text").focus();
      return false;
    });

    $("#attach-link").click(function() {
      $("#attachment-list").show();
      $("#attachment-file").click();
    });

    $("#cancel-button").click(function() {
      $(".edit-ui").show();
      $("#edit-form").animate({ width: "0" }, 300);
      $("#edit-form").addClass("edit-form-disabled");
      $("#edit-form").removeClass("edit-form-enabled");
      $("#edit-form")[0].reset();
      $("#rendered-text").html(wikisyntax($("#raw-text").val(),
                                          wikiSyntaxOptions));
      $("#rendered-text").animate({ width: "60%" }, 300);
      $("#rendered-text").addClass("rendered-text-disabled");
      $("#rendered-text").removeClass("rendered-text-enabled");
      $("#raw-text").addClass("raw-text-disabled");
      $("#raw-text").removeClass("raw-text-enabled");
      return false;
    });

    $(".options").hover(function() {
      $(".dropdown-menu").show();
    }, function() {
      $(".dropdown-menu").hide();
    });

    $("#edit-link").hover(function() {
      $(".dropdown-menu").hide();
    }, function() {});

    $(".dropdown-toggle-button").hover(function() {
      $(".dropdown-menu").show();
    }, function() {});
  });
</script>
